.collum-box {
    height: 400px;
    width: 800px;
    background: gray;
    float: left;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
}

.collum-content {
    height: 400px;
    width: 300px;
    float: left;
}

/* .collum {
    float: left;
    padding: 5px;
} */

.clearfix {
    height: 100%;
    overflow: auto;
    margin: 10px;
    
  }

  .content-box-two-one-box {
      height: 150px;
      width: 300px;
      background: gray;
      display: flex;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Times New Roman', Times, serif;
      font-size: 30px;
      font-weight: bold;
  }

  .content-box-two-one, .content-box-two-two, .content-box-two-three {
      float: left;
      width: 33.33333%;
      height: 100%
  }

  .content-box-one-text-two, .content-box-one-text-three, .content-box-one-text-four {
      height: 150px;
      width: 300px;
      margin-left: 10px;
  }

  