div {    
    color: white;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
}

.row {    
    background: white;
    display: flex;
    flex-direction: row;
    padding: 1px;
    height: 100%;
}

.collum {           
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.box-one {
    background: red;
    flex-grow: 1;
    margin: 0px 1px;    
    border-radius: 5px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.box-two {
    flex-grow: 2;
    background: red;
    margin: 0px 1px;
    border-radius: 5px;
    height: 110px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.box-three {
    flex-grow: 3;
    background: red;
    margin: 0px 1px;
    border-radius: 5px;
    height: 110px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.box-four {
    flex-grow: 4;
    background: red;
    margin: 0px 1px;
    border-radius: 5px;
    height: 110px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.box-five {
    flex-grow: 5;
    background: red;
    margin: 0px 1px;
    border-radius: 5px;
    height: 110px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.box-six {
    flex-grow: 6;
    background: red;
    margin: 0px 1px;
    border-radius: 5px;
    height: 110px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.box-seven {
    flex-grow: 7;
    background: red;
    margin: 0px 1px;
    border-radius: 5px;
    height: 110px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.box-eight {
    flex-grow: 8;
    background: red;
    margin: 0px 1px;
    border-radius: 5px;
    height: 110px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.box-nine {
    flex-grow: 9;
    background: red;
    margin: 0px 1px;
    border-radius: 5px;
    height: 110px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.box-ten {
    flex-grow: 10;
    background: red;
    margin: 0px 1px;
    border-radius: 5px;
    height: 110px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.box-eleven {
    flex-grow: 11;
    background: red;
    margin: 0px 1px;
    border-radius: 5px;
    height: 110px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.box-twenve {
    flex-grow: 12;
    background: red;
    margin: 0px 1px;
    border-radius: 5px;
    height: 110px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

